<!DOCTYPE html>
<html>
<head>
    <title>Choose Subject</title>
</head>
<body>
    <h1>Choose a Subject</h1>

    <form action="/subjects" method="GET">
        <input type="text" name="search" placeholder="Search subjects..." value="<%= typeof searchQuery !== 'undefined' ? searchQuery : '' %>">
        <button type="submit">Search</button>
    </form>

    <ul>
        <% subjects.forEach(subject => { %>
            <li>
                <a href="/quiz/<%= subject._id %>"><%= subject.name %></a>
            </li>
        <% }); %>
    </ul>

    <a href="/leaderboard">View Leaderboard</a>

    <% if (locals.success && success.length > 0) { %>
        <div style="color: green;"><%= success %></div>
    <% } %>
    <% if (locals.error && error.length > 0) { %>
        <div style="color: red;"><%= error %></div>
    <% } %>
</body>
</html>